@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-notosans;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
